:root {
    --dark-bg-color: #000;
    --light-dark-bg-color: #2c2c2c;
    --light-color: #fff;
    --deep-light-color: #dedede;
    --hover-deep-color: #f70;
    --hover-color: rgb(224, 117, 23);
  }
.section-3 {
    display: block;
    width: 100%;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
 
  .section-3 .left-3 h1 {
    font-size: 30px;
    padding: 120px 0px 30px 30px;
  }
  .section-3 .left-3 p {
    padding: 20px 30px 30px 30px;
    font-size: 20px;
    max-width: 700px;
  }
  
  .section-3 .right-3 img {
    width: 300px;
  }
  
@media (min-width: 800px) {
    .section-3 .left-3 {
        float: left;
      }
}
@media (max-width: 800px) {
    .container.banner-2 {
        padding: 80px 40px;
      }
      .container .section-3 {
        display: block;
        width: 100%;
      }
      .section-3 .left-3 {
        width: 100%;
        float: left;
      }
      .section-3 .left-3 h1 {
        font-size: 30px;
        padding: 120px 0px 30px 30px;
      }
      .section-3 .left-3 p {
        padding: 20px 60px 30px 30px;
        font-size: 20px;
      }
    
      .section-3 .right-3 {
        margin: auto;
        text-align: center;
      }
      .section-3 .right-3 img {
        width: 300px;
        margin: auto;
      }
}
@media (max-width: 600px) {
    
}