
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    background-color: lightcoral;
    padding-inline: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_item{
    display: inline-block;
    margin-right: auto;
}
.logo{
    margin-right: auto;
}
.navbar_item_link{
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: brown;
    color: aliceblue;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* team section  */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px;
  }

  .card {
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }
  .card img {
    width: 250px;
    height: 350px;
    border-bottom: 1px solid #ddd;
  }

  .card_title {
    font-size: 1.5rem;
    margin: 15px 0 10px;
  }

  .card_text {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
  }

  .card_btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
  }

  .social {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  .social_link {
    text-decoration: none;
  }

  .social_link img {
    width: 30px;
    height: 30px;
  }

  .card_tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  .card_tag {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
  }
#pagination{
  background-color: #3498db;
  padding-block: 10px;
  text-align: center;
}
#pagination button{
  padding: 5px;
  background-color: aliceblue;
  color: #555;
  font-weight: 900;
  cursor: pointer;
  margin-inline: 10px;
}
#pagination button:disabled{
  color: #5555556f;
}
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

  